numpy
# Firedrake: see the url below for download
<https://firedrakeproject.org/download.html>
git+https://gitlab.tiker.net/pytential.git
# (And its dependencies: see below)

git+https://gitlab.tiker.net/inducer/gmsh_interop.git
git+https://gitlab.tiker.net/inducer/modepy.git
git+https://gitlab.tiker.net/inducer/pyopencl.git
git+https://gitlab.tiker.net/inducer/islpy.git
git+https://gitlab.tiker.net/inducer/loopy.git

# required by pytential, which is in turn needed for some tests
git+https://gitlab.tiker.net/inducer/boxtree.git
git+https://gitlab.tiker.net/inducer/sumpy.git
git+https://gitlab.tiker.net/inducer/pytential.git

# requires pymetis for tests for partition_mesh
git+https://gitlab.tiker.net/inducer/pymetis.git
